.mytitle {
    font-size: xx-large;
}

.main_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub_main_section {
    display: flex;
    justify-content: space-between;

}

.sub_main_section .card {
    width: 49.5%;
}
.sub_main_section .card img {
    width: 100%;
    height: 100%;
}

.card-image {
    height: 450px;
}

.threeblocs{
    display: flex;
    justify-content: space-between;
}

body, footer {
    padding: 20px;
    color: white;
    /* background-color: #e57367 ; */
    background-color: rgba(229, 115, 112, 0.4);
}

