<body>
    <!--   <nav>
            nav
        </nav> -->
        <section  class="main_section">
            <h3 class="mytitle">Welcome to my Smart Survey</h3>
            <div class="sub_main_section">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../assets/image/feedback1.jpg">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
            
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../assets/image/user-satisfaction1.png">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
            </div>
        </section>
        <section class="threeblocs">
            <article>
                <div>
                    <img class="materialboxed" width="350" height="250" src="../../../assets/image/kpi.jpg">
                </div>
            </article>
            <article>
                <div>
                    <img class="materialboxed" width="350" height="250" src="../../../assets/image/chart1.jpg">
                </div>
            </article>
            <article>
                    <img class="materialboxed" width="350" height="250" src="../../../assets/image/chart2.png">
            </article>
        </section>
    </body>
    <footer>
        <article>
            <div>
                <div class="card-panel hoverable blue lighten-2"> Hoverable Card Panel</div>
                <div class="card-panel hoverable green lighten-2"> Hoverable Card Panel</div>
            </div>
        </article>
    </footer>  