.mytitle {
    font-size: xx-large;
}

.main_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub_main_section {
    display: flex;
    justify-content: space-around;

}

.sub_main_section .card {
    width: 50%;
}
.sub_main_section .card img {
    width: 100%;
    height: 100%;
}

.card-image {
    height: 450px;
}

.threeblocs{
    display: flex;
    justify-content: space-between;
}

body, footer {
    padding: 20px;
}